.test, .arrow {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: cadetblue;
    -fx-font-weight: bold;
}

.lineNumber {
    -fx-fill: "#eee";
    -fx-background-color: "#ddd";
    -fx-font-family: monospace;
}

.breakpoint {
    -fx-background-color: red;
}


.debug {
    -fx-font-weight: bold;
    -fx-fill: darkblue;
    -fx-underline: true;
}

.commandNumber {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.commandType, .direction, .emptySymbol, .arrowWithDot {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.state {
    -fx-fill: brown;
    -fx-font-weight: bold;
}

.symbol {
    -fx-fill: darkorange;
    -fx-font-weight: bold;
}

.error {
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-underline: true;
}

serviceSymbols {
    -fx-fill: darkmagenta;
    -fx-font-weight: bold;
}