.test, .arrow {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.commandNumber {
    -fx-fill: blue;
}

.commandType, .direction, .emptySymbol, .arrowWithDot {
    -fx-fill: red;
}

.state {
    -fx-fill: brown;
}

.symbol {
    -fx-fill: orange;
}

.error {
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-underline: true;
}


